<script type="text/ng-template" id="app/restaurant/restaurant-menu-details-modal.html">
    <div class="modal-header">
        <h3 class="modal-title">新菜品</h3>
    </div>

    <div class="modal-body">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<form name="menuform">
					<div class="panel panel-default">
						<div class="panel-heading">菜品图片</div>
						<div class="panel-body text-center">
							<label class="btn btn-primary btn-file pull-left">
								上传图片 <input class="btn btn-default" id="dish.thumbnailObj" type="file" accept="image/*" image="dish.thumbnailObj" resize-max-height="512" resize-max-width="512" resize-quality="0.7" resize-type="image/jpg" ng-image-compress style="display: none;"/>
							</label>
							
							<img ng-if="dish.thumbnailObj" ng-src="{{dish.thumbnailObj.compressed.dataURL}}" />
							<img ng-if="!dish.thumbnailObj" ng-src="{{dish.dishThumbnail}}" />
						</div>
					</div>

					<div class="form-group" show-errors>
						<div class="input-group">
							<span class="input-group-addon" id="dish-name">名称</span>
							<input name="dishname" type="text" class="form-control" ng-model="dish.name" placeholder="" aria-describedby="dish-name" required>
						</div>
						<p class="help-block" ng-if="menuform.dishname.$error.required">需要填写菜品名称</p>
					</div>

					<br>

					<div class="form-group" show-errors>
						<div class="input-group">
							<span class="input-group-addon" id="dish-category">类别</span>
							<input name="dishcategory" type="text" class="form-control" ng-model="dish.category" placeholder="" aria-describedby="dish-category" required>
						</div>
						<p class="help-block" ng-if="menuform.dishcategory.$error.required">需要填写菜品类别</p>
					</div>

					<br>

					<div class="form-group" show-errors>
						<div class="input-group">
							<span class="input-group-addon" id="dish-price">价格</span>
							<input name="dishprice" type="text" class="form-control" ng-model="dish.price" aria-describedby="dish-price" required>
						</div>
						<p class="help-block" ng-if="menuform.dishprice.$error.required">需要填写菜品价格</p>
					</div>
				</form>
				
			</div>
			<div class="col-md-1"></div>
		</div>
    </div>
    <div class="modal-footer">
    	<button class="btn btn-danger" type="button" ng-click="remove()">删除</button>
        <button class="btn btn-danger" type="button" ng-click="cancel()">取消</button>
        <button class="btn btn-success" type="button" ng-click="menuform.$valid &&updateADishInfo()">保存</button>
    </div>
</script>